node_modules/
# Firebase
.firebase

# Firebase Emulators
.firebase/emulators

# Firebase Hosting
.firebase/hosting

# Firebase Functions
functions/node_modules

# Config file
public/js/config.js/
*.log
.DS_Store
.env
firebase-debug.log*
firestore-debug.log*
storage-debug.log*
